@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/S-M-E-D.webp);
    color: #fff;
}

/* section 1*/ 

.smed-support-hero {
    min-height: calc(100vh - 40px); /* ajusta según la altura de tu nav */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    color: white;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .hero-content {
    max-width: 800px;
    animation: fadeIn 2s ease-out forwards;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: #00ffaa;
    margin-bottom: 10px;
  }
  
  .hero-title span {
    display: inline-block;
    background: #00ffaa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hero-subtitle {
    font-size: 1.4rem;
    opacity: 0.85;
  }
  
  @keyframes fadeIn {
    .....
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }
