@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #08a4e2;
}

.smed-support-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  max-width: 700px;
  width: 100%;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-title span {
  color: #38bdf8;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #cbd5e1;
  margin-bottom: 2rem;
}

.opciones-registro {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

form {
  background: #1e293b;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1rem;
  text-align: left;
}

form h3 {
  color: #38bdf8;
  margin-bottom: 1rem;
  text-align: center;
}

.nombre-input,
.form-control,
.form-select {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #d5dae2;;
  color: #000000;
}

.nombre-input::placeholder,
.form-control::placeholder {
  color: #94a3b8;
}

.ingresar-btn {
  padding: 0.8rem 1.5rem;
  background-color: #38bdf8;
  color: #fbfcff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  margin: 0 auto;
}

.ingresar-btn:hover {
  background-color: #0ea5e9;
}

.hidden {
  display: none;
}

.error-msg {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}

#resultado {
  background: #0f172a;
  color: #cbd5e1;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1.5rem;
  border: 1px solid #38bdf8;
  text-align: center;
}

#resultado h3 {
  color: #38bdf8;
}
