@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #061A3B;
    color: #fff;
}

/* .nav {
    height: 100px;
    //pendiente arreglar
    background-image: url('/images/nav.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} */

.titulo1 {
    color: aliceblue;
    display: flex;
    align-items: center;
}

.titulo1 h1 {
    margin-left: 5px;
}

/*titulo central*/

.titulo_Pri {
    font-family: "Orbitron", sans-serif;
    display: flex;
    align-items: center;
    width: 35%;
    height: 23%;
    margin-top: 2%;
    margin-left: 34%;
    font-size: 25px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}