@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/S-M-E-D.webp);
    color: #fff;
}

<<<<<<< Updated upstream
/* .nav {
    height: 100px;
    //pendiente arreglar
    background-image: url('/images/nav.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} */

.titulo1 {
    color: aliceblue;
    display: flex;
    align-items: center;
}

.titulo1 h1 {
    margin-left: 5px;
}

/*titulo central*/

.titulo_Pri {
    font-family: "Orbitron", sans-serif;
    display: flex;
    align-items: center;
    width: 35%;
    height: 23%;
    margin-top: 2%;
    margin-left: 34%;
    font-size: 25px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}
=======
/* section 1*/ 

.smed-support-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    color: white;
    text-align: center;
    padding: 100px 40px 40px 40px; /* Aumentamos el padding-top */
    box-sizing: border-box;
}
  
  .hero-content {
    max-width: 800px;
    animation: fadeIn 2s ease-out forwards;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
    background: linear-gradient(to right, #00ffaa, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hero-title span {
    display: inline-block;
    background: #00ffaa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bounce 1s infinite alternate;
  }
  
  .hero-subtitle {
    font-size: 1.4rem;
    opacity: 0.85;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }
>>>>>>> Stashed changes
